name: Publish to VS Marketplace

on:
  workflow_dispatch:

permissions:
  contents: write
  actions: read

jobs:
  publish:
    uses: CodingWithCalvin/.github/.github/workflows/vsix-publish.yml@main
    with:
      extension-name: BreakpointNotifier
      display-name: 'Breakpoint Notifier'
      marketplace-id: CodingWithCalvin.VS-BreakpointNotifier
    secrets: inherit
